In [1]:
install.packages("XML")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [3]:
library("XML")
library("methods")

In [4]:
df = mtcars
df = cbind(names = rownames(df), df)

In [5]:
rownames(df) = c()
print(head(df))

              names  mpg cyl disp  hp drat    wt  qsec vs am gear carb
1         Mazda RX4 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
2     Mazda RX4 Wag 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
3        Datsun 710 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
4    Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
5 Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
6           Valiant 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [6]:
doc = newXMLDoc()
top = newXMLNode("cars", doc= doc)
for(row in 1: nrow(df)){
    carnode = newXMLNode("car", parent= top)
    newXMLNode("names", df[row, "names"], parent=carnode)
    newXMLNode("mpg", df[row, "mpg"], parent=carnode)
    newXMLNode("wt", df[row, "wt"], parent=carnode)
    newXMLNode("gear", df[row, "gear"], parent=carnode)
}
print("save file...")
cat(saveXML(doc, indent = TRUE, prefix = "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n"),
    file="Du_lieu/mtcars_new.xml")

[1] "save file..."

In [7]:
mtcar_new = xmlToDataFrame("Du_lieu/mtcars_new.xml")
mtcar_new

   names               mpg  wt    gear
1  Mazda RX4           21   2.62  4
2  Mazda RX4 Wag       21   2.875 4
3  Datsun 710          22.8 2.32  4
4  Hornet 4 Drive      21.4 3.215 3
5  Hornet Sportabout   18.7 3.44  3
6  Valiant             18.1 3.46  3
7  Duster 360          14.3 3.57  3
8  Merc 240D           24.4 3.19  4
9  Merc 230            22.8 3.15  4
10 Merc 280            19.2 3.44  4
11 Merc 280C           17.8 3.44  4
12 Merc 450SE          16.4 4.07  3
13 Merc 450SL          17.3 3.73  3
14 Merc 450SLC         15.2 3.78  3
15 Cadillac Fleetwood  10.4 5.25  3
16 Lincoln Continental 10.4 5.424 3
17 Chrysler Imperial   14.7 5.345 3
18 Fiat 128            32.4 2.2   4
19 Honda Civic         30.4 1.615 4
20 Toyota Corolla      33.9 1.835 4
21 Toyota Corona       21.5 2.465 3
22 Dodge Challenger    15.5 3.52  3
23 AMC Javelin         15.2 3.435 3
24 Camaro Z28          13.3 3.84  3
25 Pontiac Firebird    19.2 3.845 3
26 Fiat X1-9           27.3 1.935 4
27 Porsche 914-2       26   2.14  5
28 Lotus Europa        30.4 1.513 5
29 Ford Pantera L      15.8 3.17  5
30 Ferrari Dino        19.7 2.77  5
31 Maserati Bora       15   3.57  5
32 Volvo 142E          21.4 2.78  4