# Part 1: List

In [ ]:
# Create title, actors, reviews
title = "The Shining"
actors_vector <- c("Jack Nicholson","Shelley Duvall","Danny Lloyd","Scatman Crothers","Barry Nelson")
reviews_factor <- factor(c("Good", "OK", "Good", "Perfect", "Bad", "Perfect", "Good"), 
                  ordered = TRUE, levels = c("Bad", "OK", "Good", "Perfect"))

# Create the list 'shining_list' from 3 vectors above

# Select the last actor from list: last_actor

# Select the second review from list: second_review

# Add the element 'release_year' = 1980 to shining_list

# Add the element 'director' = "Stanley Kubrick" to shining_list

# Print list shining_list

# Print the structure of shining_list

# Part 2: Hãy thực hiện những yêu cầu sau với R-core dataframe và/ hoặc Tidyverse
1. Cho dữ liệu mtcars cho sẵn trong R datasets. Đọc dữ liệu. Hiển thị thông tin một số dòng đầu của dữ liệu. In thông tin thống kê chung.
2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
3. Tạp cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
6. Lọc các xe mà trong tên xe có 'Mazda' trong sub_data_unique. Có bao nhiêu xe thỏa điều kiện này?
7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?

#### Note: dùng df = cbind(names = rownames(df), df) hoặc rownames_to_column(df, var = "names"): chuyển cột index thành cột "names"

In [ ]:
# install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

In [ ]:
#1.
head(mtcars)
# ...

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1