In [2]:
install.packages("XML")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [3]:
library("XML")

In [4]:
fileUrl = "http://www.w3schools.com/xml/plant_catalog.xml"
download.file(fileUrl, destfile ="Du_lieu/plant_catalog.xml")
xmldataframe = xmlToDataFrame("Du_lieu/plant_catalog.xml")
print(head(xmldataframe))

               COMMON              BOTANICAL ZONE        LIGHT PRICE
1           Bloodroot Sanguinaria canadensis    4 Mostly Shady $2.44
2           Columbine   Aquilegia canadensis    3 Mostly Shady $9.37
3      Marsh Marigold       Caltha palustris    4 Mostly Sunny $6.81
4             Cowslip       Caltha palustris    4 Mostly Shady $9.90
5 Dutchman's-Breeches    Dicentra cucullaria    3 Mostly Shady $6.44
6        Ginger, Wild       Asarum canadense    3 Mostly Shady $9.03
  AVAILABILITY
1       031599
2       030699
3       051799
4       030699
5       012099
6       041899

In [5]:
data_annual_sunny = subset(xmldataframe, xmldataframe$ZONE == "Annual" & xmldataframe$LIGHT =="Sunny")
data_annual_sunny

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099