In [1]:
print(getwd())

[1] "/resources/LDS7_PhamSyCang/Week2/Chapter9"

In [5]:
setwd("/resources/LDS7_PhamSyCang/Week2/Chapter9")

In [6]:
print(getwd())

[1] "/resources/LDS7_PhamSyCang/Week2/Chapter9"

In [8]:
content = readLines("Du_lieu/license.txt")
print(content)

[1] "These data files are derived by splitting up the data set downloaded from:"
[2] "https://www.ontario.ca/data/ontario-public-schools-enrolment"
[3] "under the Open Government License - Ontario:"
[4] "https://www.ontario.ca/page/open-government-licence-ontario"

In [9]:
content = readLines("Du_lieu/bai_tho.txt", encoding = "UTF-8")
print(content)

[1] "Mùa xuân là Tết trồng cây"
[2] "Làm cho đất nước càng ngày càng xuân"
[3] ""

In [10]:
print(length(content))

[1] 3

In [11]:
print(nchar(content))

[1] 25 36  0

In [12]:
print(file.size("Du_lieu/license.txt"))

[1] 242

In [14]:
content1 = scan("Du_lieu/license.txt", "")
print(content1)

 [1] "These"
 [2] "data"
 [3] "files"
 [4] "are"
 [5] "derived"
 [6] "by"
 [7] "splitting"
 [8] "up"
 [9] "the"
[10] "data"
[11] "set"
[12] "downloaded"
[13] "from:"
[14] "https://www.ontario.ca/data/ontario-public-schools-enrolment"
[15] "under"
[16] "the"
[17] "Open"
[18] "Government"
[19] "License"
[20] "-"
[21] "Ontario:"
[22] "https://www.ontario.ca/page/open-government-licence-ontario"

In [15]:
df = read.table("Du_lieu/Table0.txt")
print(df)

        V1 V2  V3 V4 V5
1     Alex 25 177 57  F
2    Lilly 31 163 69  F
3     Mark 23 190 83  M
4   Oliver 52 179 75  M
5   Martha 76 163 70  F
6    Lucas 49 183 83  M
7 Caroline 26 164 53  F

In [19]:
names(df) = c("c1", "c2", "c3", "c4", "c5")
print(df)

        c1 c2  c3 c4 c5
1     Alex 25 177 57  F
2    Lilly 31 163 69  F
3     Mark 23 190 83  M
4   Oliver 52 179 75  M
5   Martha 76 163 70  F
6    Lucas 49 183 83  M
7 Caroline 26 164 53  F

In [21]:
ob = read.csv("Obesity_data.csv")
dim(ob)

[1] 1217   11

In [23]:
write.csv(head(ob), "ob_head.csv",row.names=FALSE)

In [24]:
content2 = "hello and welcome"
file_name = file(description = "Du_lieu/text.txt", open ="a", encoding="UTF-8")
write(content2, file=file_name)

In [25]:
content2 = readLines("Du_lieu/text.txt", encoding = "UTF-8")
print(content2)

[1] "Hello and welcome" "Hello and welcome" "hello and welcome"

In [26]:
write.table(df, file ="Du_lieu/Table0_new.txt", sep="\t")

In [27]:
data = read.csv("Du_lieu/emp.csv")
print(data)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5 NA     Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

In [28]:
print(paste("max salary:", max(data$salary)))
print(paste("mean salary:", mean(data$salary)))
print("people have max salary")
print(subset(data, salary == max(data$salary)))

[1] "max salary: 843.25"
[1] "mean salary: 656.88125"
[1] "people have max salary"
  id name salary start_date    dept
5 NA Gary 843.25 2015-03-27 Finance

In [30]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.3
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [33]:
df_max = filter(data, salary == max(salary))
print(df_max)

  id name salary start_date    dept
1 NA Gary 843.25 2015-03-27 Finance

In [34]:
retval = subset(data, dept=="IT")
print(retval)

  id     name salary start_date dept
1  1     Rick  623.3 2012-01-01   IT
3  3 Michelle  611.0 2014-11-15   IT
6  6     Nina  578.0 2013-05-21   IT

In [36]:
retval = subset(data, as.Date(start_date) > as.Date("2014-01-01"))
print(retval)

  id     name salary start_date    dept
3  3 Michelle 611.00 2014-11-15      IT
4  4     Ryan 729.00 2014-05-11      HR
5 NA     Gary 843.25 2015-03-27 Finance
8  8     Guru 722.50 2014-06-17 Finance

In [37]:
it_emps = subset(data, dept=="IT")

In [38]:
write.csv(it_emps, "Du_lieu/it_emps.csv", row.names =FALSE)
newdata = read.csv("Du_lieu/it_emps.csv")
print(newdata)

  id     name salary start_date dept
1  1     Rick  623.3 2012-01-01   IT
2  3 Michelle  611.0 2014-11-15   IT
3  6     Nina  578.0 2013-05-21   IT

In [40]:
install.packages("xlsx")

also installing the dependency ‘xlsxjars’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [41]:
library("xlsx")

In [42]:
data= read.xlsx("Du_lieu/emp_data.xlsx", sheetIndex =1)
print(data)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5        Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

In [44]:
data= read.xlsx("Du_lieu/emp_data.xlsx", sheetName ="city")
print(data)

      name    city
1     Rick Seattle
2      Dan   Tampa
3 Michelle Chicago
4     Ryan Seattle
5     Gary Houston
6     Nina  Boston
7    Simon  Mumbai
8     Guru  Dallas

In [ ]:
write.xlsx(it_emps, "Du_lieu/emp_Da")