In [2]:
install.packages("xlsx")
library("xlsx")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [3]:
data_1932_skiing = read.xlsx("Du_lieu/medals_new.xlsx", sheetName="1932_skiing1")
head(data_1932_skiing)

  NA. Year City        Sport  Discipline      NOC Event      Event.gender
1 100 1932 Lake Placid Skiing Cross Country S FIN 18km       M
2 101 1932 Lake Placid Skiing Cross Country S FIN 50km       M
3 102 1932 Lake Placid Skiing Cross Country S FIN 50km       M
4 110 1932 Lake Placid Skiing Cross Country S NOR 50km       M
5 111 1932 Lake Placid Skiing Nordic Combined NOR individual M
6 112 1932 Lake Placid Skiing Nordic Combined NOR individual M
  Medal
1 Bronze
2 Gold
3 Silver
4 Bronze
5 Bronze
6 Gold

In [4]:
data_1932_skiing$NA. = NULL

In [5]:
print(head(data_1932_skiing))

  Year        City  Sport      Discipline NOC      Event Event.gender  Medal
1 1932 Lake Placid Skiing Cross Country S FIN       18km            M Bronze
2 1932 Lake Placid Skiing Cross Country S FIN       50km            M   Gold
3 1932 Lake Placid Skiing Cross Country S FIN       50km            M Silver
4 1932 Lake Placid Skiing Cross Country S NOR       50km            M Bronze
5 1932 Lake Placid Skiing Nordic Combined NOR individual            M Bronze
6 1932 Lake Placid Skiing Nordic Combined NOR individual            M   Gold

In [6]:
n = sum(data_1932_skiing$Medal == "Gold")
print(paste("number of golden medals:", n))

[1] "number of golden medals: 4"

In [7]:
data_golden_medals = subset(data_1932_skiing, data_1932_skiing$Medal == "Gold")
data_golden_medals

   Year City        Sport  Discipline      NOC Event
2  1932 Lake Placid Skiing Cross Country S FIN 50km
6  1932 Lake Placid Skiing Nordic Combined NOR individual
9  1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
11 1932 Lake Placid Skiing Cross Country S SWE 18km
   Event.gender Medal
2  M            Gold
6  M            Gold
9  M            Gold
11 M            Gold