In [3]:
Names = c("alex", "Lilly", "Mark", "Oliver", "Martha", "Lucas", "Caroline")
Age = c(25,31,23,52,76,49,26)
Height = c(177,163,190,179,163,183,164)
Weight = c(57,69,83,75,70,83,53)
Sex = as.factor(c("F","F", "M","M","F", "M","F"))
df=data.frame(row.names=Names, Age, Height, Weight, Sex)
print(df)

         Age Height Weight Sex
alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F

In [5]:
print(paste("level of sex:", toString(levels(df$Sex))))

[1] "level of sex: F, M"

In [7]:
Working =c("Yes", "No","No","Yes","Yes", "No", "Yes")
df2 = data.frame(row.names=Names, Working)
print(df2)

         Working
alex         Yes
Lilly         No
Mark          No
Oliver       Yes
Martha       Yes
Lucas         No
Caroline     Yes

In [8]:
df = cbind(df, df2)
print(df)

         Age Height Weight Sex Working
alex      25    177     57   F     Yes
Lilly     31    163     69   F      No
Mark      23    190     83   M      No
Oliver    52    179     75   M     Yes
Martha    76    163     70   F     Yes
Lucas     49    183     83   M      No
Caroline  26    164     53   F     Yes

In [9]:
print(paste("Dong:", dim(df)[1], ", cot:", dim(df)[2]))

[1] "Dong: 7 , cot: 5"

In [ ]:
print(str(df))