In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
data = read.csv("Obesity_data.csv")
print(head(data))

  id gender height weight  bmi age  bmc  bmd   fat  lean pcfat
1  1      F    150     49 21.8  53 1312 0.88 17802 28600  37.3
2  2      M    165     52 19.1  65 1309 0.84  8381 40229  16.8
3  3      F    157     57 23.1  64 1230 0.84 19221 36057  34.0
4  4      F    156     53 21.8  56 1171 0.80 17472 33094  33.8
5  5      M    160     51 19.9  54 1681 0.98  7336 40621  14.8
6  6      F    153     47 20.1  52 1358 0.91 14904 30068  32.2

In [3]:
data1= data%>% select(c(2,3,4,5,6))
print(head(data1))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [4]:
data11=  data%>% select(gender, height, weight, bmi, age)
head(data11)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [5]:
data2 = data1 %>% filter(bmi >=18.5, bmi <=24.9)
print(head(data2))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [6]:
print(paste("row have bmi >18.5 and <= 24.9:", nrow(data2)))

[1] "row have bmi >18.5 and <= 24.9: 865"

In [7]:
data1 = mutate(data1, height_m =height/100)
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [8]:
head(arrange(data1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [9]:
group = group_by(data1, gender)
summary = summarize(group, count = n(),
                   mean.height = mean(height, na.rm = T),
                   mean.weight = mean(weight, na.rm = T))
summary

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [10]:
count(data1, gender)

  gender n
1 F      862
2 M      355

In [11]:
group_gender_Age = count(data1, gender, age)
head(group_gender_Age)

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

In [12]:
tail(group_gender_Age)

  gender age n
1 M      82  1
2 M      83  1
3 M      84  3
4 M      85  1
5 M      87  1
6 M      88  1

In [13]:
data3 =  data1 %>% sample_n(10)
data3

   gender height weight bmi  age height_m
1  F      157    60     24.3 49  1.57
2  F      143    40     19.6 65  1.43
3  F      150    68     30.2 69  1.50
4  F      151    64     28.1 80  1.51
5  M      178    75     23.7 19  1.78
6  F      157    48     19.5 25  1.57
7  F      160    52     20.3 46  1.60
8  F      152    52     22.5 61  1.52
9  F      154    47     19.8 54  1.54
10 F      159    49     19.4 38  1.59

In [14]:
data4 = data %>% sample_frac(0.01)
data4

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1   401 M      170    65     22.5 37  2047 1.07 14626 44808 23.8
2   508 M      168    78     27.6 19  2144 1.06 26331 49048 34.0
3   472 F      155    45     18.7 25  1665 1.02 14677 28287 32.9
4   627 F      158    59     23.6 51  1693 1.00 20759 32585 37.7
5   552 F      155    49     20.4 67  1209 0.80 16643 30265 34.6
6    80 F      149    49     22.1 58  1547 0.98  9594 29953 23.3
7  1036 F      156    59     24.2 58  1495 0.95 24346 33118 41.3
8   925 F      163    47     17.7 18  1802 1.10 13782 29903 30.3
9   987 F      152    54     23.4 49  1825 1.09 19900 32322 36.8
10  302 F      150    44     19.6 47  1465 0.98 13365 27966 31.2
11 1103 F      154    57     24.0 65  1482 0.94 23081 31371 41.3
12  406 M      178    93     29.4 23  2854 1.21 29522 59153 32.3